* {
  box-sizing: border-box;
}

body {
  color: $body-colour;
  font: 13px/1.4 "Lato", Calibri, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7em;
}

h1, 
h2, 
h3, 
label {
  color: $header-colour;
}

h1 {
  font-weight: 300;
}

button {
  margin-left: .2em;
  margin-right: .2em;
}

.is-center {
  text-align: center;
}

.l-box {
  padding: 1em;
}
