.content {
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  min-height: 620px;
}

#transitions {
  margin: 2em auto;
}

.button-add,
.button-remove {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-add {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-remove {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.content-head {
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  text-transform: uppercase;
}
.footer {
  margin-top: 3em;
  font-size: .9em;
  background: rgb(250, 250, 250);
  border-top: 1px solid #eee;
}



#grand-total {
  background: #e0e0e0;
  border: 1px solid #cbcbcb;
  span {
    display: block;
    font-size: 4em;
    line-height: 1;
  }
}


.pure-form input {
  width: 100%;
}


#show-menu {
  background: black;
  padding: 0 .5em;
  cursor: pointer;
  position: absolute;
  left: 1em;
  top: .7em;
  color: #FFF;
}

.home-menu ul {
  visibility: hidden;
}

@media (min-width: 48em) {
  body {
    font-size: 16px;
  }
  .content {
    padding: 1em;
  }
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }
  .l-box-lrg {
    border: medium none;
  }
}

@media (min-width: 35.5em) {
  .pure-form input {
    width: auto;
  }
  #show-menu {
    display: none;
  }
  .home-menu ul {
    visibility: visible;
  }
}



.home-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  text-align: center;
}
.home-menu.pure-menu-open {
  background: #2d3e50;
  overflow: hidden;
}

.home-menu .pure-menu-selected a {
  color: white;
}
.home-menu a {
  color: #6fbef3;
}
.home-menu li a:hover, .home-menu li a:focus {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  color: #aecfe5;
}

.home-menu.active.pure-menu-horizontal li,
.home-menu.active.pure-menu-horizontal ul {
  display: block;
  visibility: visible;
}
.home-menu.active.pure-menu-horizontal ul {
  margin-top: 2em;
}


#notification {
  display: none;
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.25);
  margin-bottom: .5em;
  &.active {
    display: block;
  }
}

